*~
_*
*.o
*.d
*.asm
*.sym
*.img
*.pyc
TaskB/vectors.S
TaskB/bootblock
TaskB/entryother
TaskB/initcode
TaskB/initcode.out
TaskB/kernelmemfs
TaskB/mkfs
TaskB/kernel/kernel
TaskB/ser/usys.S
TaskB/.gdbinit
TaskB/myapi.key
TaskB/xv6.out*
TaskA/primes
